*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: $bg-color;
    font-family: $font-primary;
}

body {
    display: grid;
    grid-template-rows: 15vh 85vh;
    grid-template-columns: repeat(8, 1fr);
    grid-row: 2rem;
}

a {
    text-decoration: none;
}